name: Linting

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:

env:
  DEFAULT_PYTHON: 3.9

jobs:
  pre-commit:
    runs-on: "ubuntu-latest"
    name: Pre-commit
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.4.0

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v2.3.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install Python modules
        run: |
          pip install --constraint=.github/workflows/constraints.txt pre-commit black flake8 reorder-python-imports

      - name: Run pre-commit on all files
        run: |
          pre-commit run --files custom_components/* --show-diff-on-failure --color=always

  hacs:
    runs-on: "ubuntu-latest"
    name: HACS
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v2.4.0"

      - name: HACS validation
        uses: "hacs/action@21.12.1"
        with:
          category: "integration"
          ignore: brands, wheels, requirements

  hassfest:
    runs-on: "ubuntu-latest"
    name: Hassfest
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v2.4.0"

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
  # tests:
  #   runs-on: "ubuntu-latest"
  #   name: Run tests
  #   steps:
  #     - name: Check out code from GitHub
  #       uses: "actions/checkout@v2.4.0"
  #     - name: Setup Python ${{ env.DEFAULT_PYTHON }}
  #       uses: "actions/setup-python@v2.3.1"
  #       with:
  #         python-version: ${{ env.DEFAULT_PYTHON }}
  #     - name: Install requirements
  #       run: |
  #         pip install --constraint=.github/workflows/constraints.txt pip
  #         pip install -r requirements_test.txt
  #     - name: Tests suite
  #       run: |
  #         pytest \
  #           --timeout=9 \
  #           --durations=10 \
  #           -n auto \
  #           -p no:sugar \
  #           tests
