name: Linting

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
    branches:
      - main
      - master
      - dev

env:
  DEFAULT_PYTHON: 3.11

jobs:
  pre-commit:
    runs-on: "ubuntu-latest"
    name: Pre-commit
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.1.1

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install Python modules
        run: |
          pip install --constraint=.github/workflows/constraints.txt pre-commit black flake8 reorder-python-imports autoflake

      - name: Run pre-commit on all files
        run: |
          pre-commit run --files custom_components/* --show-diff-on-failure --color=always
  hacs:
    runs-on: "ubuntu-latest"
    name: HACS Validation
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v4.1.1"

      - name: HACS validation
        uses: "hacs/action@22.5.0"
        with:
          category: "integration"

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4.1.1
      - name: Setup Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install requirements
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip install -r requirements_test.txt
      - name: Unit tests suite
        run: |
          pytest \
            --timeout=9 \
            --durations=10 \
            -n auto \
            -p no:sugar \
            tests/unit
